<form class="form" method="POST" action="/add">
    <div class="input-field">
        <input placeholder="Placeholder" id="title"
               name="title"
               type="text" class="validate validate-form">
        <label for="title">Title:</label>
    </div>
    <div class="input-field">
        <input placeholder="Placeholder" id="price"
               name="price"
               type="text" class="validate validate-form">
        <label for="price">Price:</label>
    </div>
    <div class="input-field">
        <input placeholder="Placeholder" id="name"
               name="name"
               type="text" class="validate validate-form">
        <label for="name">Name:</label>
    </div>
    <div class="input-field">
        <input placeholder="Placeholder" id="image"
               name="image"
               type="text" class="validate validate-form">
        <label for="image">Image url:</label>
    </div>
    <button class="new-class">add course</button>
</form>
