.price {
    font-size: 2rem;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.course h1 {
    margin-bottom: 2rem;
}

.course img {
    max-width: 650px;
    height: auto;
}
